{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta name="robots" content="nofollow">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}">
    <title>
        PDF - Commande {{order.unique_code}} | Administration - {{ site_name }}
    </title>
    {% include 'public/includes/partials/pdf_styles.html' %}
    {% include 'public/includes/partials/pdf_scripts.html' %}
</head>
<body>
    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <h4>
                    Détails de la commande
                    <span class="text-info">
                        {{ order.unique_code }}
                    </span>
                </h4>
                <div class="col-md-3 col-lg-3"></div>
                <div class="col-md-6 col-lg-6">
                    <div class="card">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div class="py-1">
                                <div>
                                    <strong class="h4 mt-2">
                                        Nom et/ou Prenom(s):
                                    </strong>
                                    <span style="font-size:1.3rem;" class="text-uppercase">
                                        {{ order.shipping_firstname }} 
                                        {{ order.shipping_lastname }} 
                                    </span>
                                </div>
                                <div>
                                    <strong class="h4 mt-2">
                                        Date de la commande:
                                    </strong> 
                                    <span style="font-size:1.3rem;">
                                        {{ order.ordered_date }} 
                                    </span>
                                </div>
                                <div>
                                    <strong class="h4 mt-2">
                                        N° de téléphone:
                                    </strong>
                                    <span style="font-size:1.3rem;">
                                        {{ order.shipping_phonenumber }} 
                                    </span>
                                </div>
                                <div>
                                    <strong class="h4 mt-2">
                                        Destination:
                                    </strong> 
                                    <span style="font-size:1.3rem;">
                                        {{ order.shipping_city }} , {{ order.shipping_country }}.
                                    </span>
                                </div>
                                <div>
                                    <strong class="h4 mt-2">
                                       Articles:
                                    </strong> 
                                    {% for order_item in order.items.all %}
                                    <span style="font-size:1.3rem;">
                                        {{ order_item.quantity }} 
                                        {{ order_item.item.name }},
                                    </span>
                                    {% endfor %}
                                </div>
                                <div class="checkout__order mt-3">
                                    {% if order.coupon %}
                                    <div class="checkout__order__subtotal text-success">
                                        Coupon 
                                        <span>
                                            - {{ order.coupon.amount }} fcfa
                                        </span>
                                    </div>
                                    {% endif %}
                                    <div class="checkout__order__total">
                                        TOTAL TTC:
                                        <span>
                                            {{ order.order_total }} FCFA
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-center pt-3 ml-2 mr-2">
                    <!-- Printing PDF (order) barcode to the bottom -->
                    <pdf:barcode value="{{ order.unique_code }}" type="code128" humanreadable="0" barwidth="0.43mm" barheight="0.6cm" align="bottom" top="3cm" />
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->

</body>

</html>