    {% load static %}
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="{% url 'home' %}">
                                <img src="{% static 'assets/images/logo.png' %}" alt="Logo">
                            </a>
                        </div>
                        <ul>
                            <li>Addresse: Rue..., Abidjan, CI</li>
                            <li>Téléphone: +225 0143635648</li>
                            <li>Email: contact@email.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Liens utiles</h6>
                        <ul>
                            <li>
                                <a href="{% url 'about' %}">A propos</a>
                            </li>
                            <li>
                                <a href="{% url 'faqs' %}">FAQs</a>
                            </li>
                            <li>
                                <a href="{% url 'contact' %}">Contact</a>
                            </li>
                            <li>
                                <a href="{% url 'blog:posts' %}">Blog</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="{% url 'request-refund' %}">Remboursements</a>
                            </li>
                            <li>
                                <a href="#">Conditions d'utilisation</a>
                            </li>
                            <li>
                                <a href="#">Plotiques de confidentialité</a>
                            </li>
                            <li>
                                <a href="{% url 'django.contrib.sitemaps.views.sitemap' %}">
                                    Plan du site
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Rejoignez la newsletter</h6>
                        <p>
                            Soyez le premier à recevoir les nouvelles offres
                            et les promotions directement dans votre boîte mail.
                        </p>
                        <form action="{% url 'subscribe-newsletter' %}" method="POST">
                            {% csrf_token %}
                            <input type="text" placeholder="Votre email" name="news_email">
                            <button type="submit" class="site-btn">Souscrire</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy; {{ site_name }}
                                <script>
                                    document.write(new Date().getFullYear());
                                </script> 
                                Tous droits reservés | 
                                <i class="fa fa-heart" aria-hidden="true"></i> 
                                by <a href="https://github.com/Stefan-ci/" target="_blank">Stefan-ci</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment">
                            <img src="{% static 'assets/images/payment-item.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
